@charset "UTF-8";
/* Body */
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #ffffff;
}
/* Container - Need */
.container1 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
    background-color: #FFFFFF;
}

/* Header - Need */
header {
  margin-top: 20px;
  width: 100%;
  background-color: #5D5E5D;
  border-bottom: 1px solid #353635;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

/* Need */
.logo {
  color: #fff;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  line-height: 2em;
  font-size: 29px;
  padding-top: 10px;
}

.logo2 {
    text-align: center;
    font-size: 25px;
    color: #fddd4d;
    line-height: 2em;
}
.logo3 {
    text-align: center;
    font-size: 21px;
    margin-bottom: 10px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.container2 {
	width: 95%;
  height: 100px;
	margin-left: auto;
	margin-right: auto;
  margin-top: 50px;
  margin-bottom: 5px;
	background-color: #FFFFFF;
}

.normal-text {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #353635;
}

.btn-group button {
    background-color: #ffd900; /* Yellow background */
    border: 2px solid rgb(243, 146, 0); /* Orange border */
    color: rgb(0, 0, 0); /* Black text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    position: static;
    margin-left: 26px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #e4860d;
}

/* Style the container */
.dropdown_bar {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/* Floating column for labels: 25% width */
.dropdown_title {
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
/* Floating column for inputs: 75% width */
.dropdown_options {
    align-items: center;
    font-size: 15px;
}

input[type=text], select, textarea{
    width: 85%;
    padding: 12px;
    border: 2px solid rgb(22, 129, 120);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  .column{
    position: relative;
  }

  /* Style the images inside the grid */
  .column img {
    opacity: 0.7;
    background-color: #383a38d2;
    cursor: pointer; 
    width: 100%;
    min-height: 100px;
  }
  
  .column img:hover {
    opacity: 1;
  }

  .plot-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 20px;
    margin-right: -20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* The expanding image container (positioning is needed to position the close button and the text) */
.container3 {
    background-color: #FFFFFF;
}

.container4 {
    margin-top: 30px;
    position: relative;
    display: none;
}
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
    background-color: #5D5E5D;
    font-size: 30px;
    cursor: pointer;
  }

  .copyright {
    text-align: center;
    padding-top: 23px;
    padding-bottom: 20px;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: capitalize;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    margin-top: 30px;
    float: none;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    margin-bottom: 20px;
}